<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{#link-to "index"}}Ember Pricing Tables{{/link-to}}</h2>
      </div>
    </div>
  </div>
</div>

{{outlet}}