<div class="container-fluid">
  <h2>Bootstrap Version</h2>
  {{partial "snippets/bootstrap"}}
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Usage</h4>
      {{code-snippet name="-bootstrap.hbs"}}
      {{#link-to "index"}}Back{{/link-to}}
    </div>
  </div>
</div>