<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-info">
        This sampler dummy app has all the frameworks mixed in, things may look a bit wonky!
      </div>
      <div class="list-group">
        {{#link-to "bootstrap" class="list-group-item"}}bootstrap{{/link-to}}
        {{#link-to "materialize" class="list-group-item"}}materialize{{/link-to}}
        {{#link-to "mdl" class="list-group-item"}}mdl{{/link-to}}
      </div>
    </div>
  </div>
</div>