<h2 id="title">Materialize Version</h2>
{{partial "snippets/materialize"}}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Usage</h4>
      {{code-snippet name="-materialize.hbs"}}
      {{#link-to "index"}}Back{{/link-to}}
    </div>
  </div>
</div>