<h2>MDL Version</h2>
<div class="container-fluid">
  {{partial "snippets/mdl"}}
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Usage</h4>
      {{code-snippet name="-mdl.hbs"}}
      {{#link-to "index"}}Back{{/link-to}}
    </div>
  </div>
</div>